[Unit]
Description=WPC Logger System

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/logger.py --config=/usr/local/etc/loggerconfig.ini
ExecStop=PID=`/bin/ps aux | grep 'python3 /usr/local/bin/logger.py' | grep -v grep | awk '{print $2}'` ; /bin/kill -2 $PID

[Install]
WantedBy=multi-user.target
