[Unit]
Description=WPC Logger System

[Service]
ExecStart=/usr/bin/python /usr/local/bin/logger.py --config=/usr/local/etc/loggerconfig.ini --logconfig=/usr/local/etc/loggerlog.ini
ExecStop=PID=`/bin/ps aux | grep 'python /usr/local/bin/logger.py' | grep -v grep | awk '{print $2}'` ; kill -2 $PID

[Install]
WantedBy=multi-user.target
